<% if issue.departments.any? %>
  <div class="wiki">
    <ul>
      <table style="width: 100%; border: 0; margin-bottom: 0;">
        <% issue.departments.each do |department| %>
          <strong><%= link_to(department.nombre, department, :id => department) %></strong>
          <tr>
            <td style="border: 0; padding: 0;">
              <% for attribute in department.attributes.keys %>
                <% unless attribute.humanize == "Id" || attribute.humanize == "Nombre" || attribute.humanize == "Anotaciones" %>
                    <p><strong><%= attribute.humanize %>:</strong> <%= department.attributes[attribute].to_s %></p>
                <% end %>
              <% end %>
            </td>
            <% if authorize_for('departments', 'removeissue') %>
              <td style="border: 0; padding: 0;">
                <%= delete_link issue_remove_department_path(issue, department), :remote => true %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </ul>
  </div>
<% else %>
  <div class="wiki">
    <ul>
      <li><em><%= l(:label_none) %></em></li>
    </ul>
  </div>
<% end %>
